html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Tinos', serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.mobile__nav__menu {
    display: none;
}

.header {
    height: 100vh;
    background: url("../image/bg.png") no-repeat center/cover;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.header__menu {
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
    column-gap: 25px;
    border-right: 2px solid #fff;
    padding-right: 15px;
}

.nav a {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
}

.nav img {
    width: 20px;
}

.contact__info {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    width: 155px;
    padding-left: 20px;
    margin-right: 45px;
}

.contact__info p {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

.header__button {
    padding: 0 18px;
    height: 47px;
    align-self: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
    background: #FF7400;
    cursor: pointer;
}

.header__main {
    margin-top: 203px;
    color: #D67E35;
}

.header__title {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    max-width: 500px;
    align-items: center;
}

.header__main h2 {
    font-size: 50px;
    line-height: 57px;
}

.header__main h1 {
    font-size: 80px;
    line-height: 92px;
}

.header__main p {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 12px;
}

.header__main p::before,
.header__main p::after {
    content: "";
    display: block;
    width: 61px;
    height: 2px;
    background: #fff;
}

.header__title button {
    margin-top: 21px;
}

.intro {
    display: flex;
    justify-content: space-evenly;
}

.intro__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    background-color: #fff;
    position: relative;
    width: 328px;
    height: 293px;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    top: -75px;
    font-size: 26px;
    line-height: 30px;
}

.intro__block h3 {
    color: #2C2C2C;
}

.intro__block p {
    padding: 20px 20px 0;
    line-height: 30px;
    color: #656363;
    text-align: center;
}

span {
    color: #BC9060;
}

.block2 p {
    padding: 20px 60px 0;
}

.history {
    display: flex;
}

.history__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-basis: 50%;
    margin-right: 125px;
}

.history__title {
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
}

.history__info__top {
    text-align: center;
}

.history__info__top p {
    padding-top: 20px;
    font-size: 16px;
    line-height: 22px;
    color: #656363;
    flex: 0 1 auto;
}

.history__info__bottom {
    display: flex;
    margin-top: 40px;
}

.history__info__bottom h3 {
    font-size: 40px;
    line-height: 54px;
    color: #BC9060;
}

.history__info__bottom p {
    font-size: 20px;
    line-height: 27px;
}

.history__images {
    flex-basis: 50%;
}

.images img {
    width: 100%;
}


