@media screen and (max-width: 510px) {
    .footer__line {
        width: 80%;
    }
}

@media screen and (max-width: 576px) {
    .nav-bar {
        justify-content: center;
    }

    .nav-bar__item:last-child {
        margin-right: 0;
    }

    .logo-icon {
        margin-left: 10px;
    }

    .categories__item:last-child {
        margin-right: 10px;
    }

    .categories__items__wrapper{
        column-gap: 10px;
    }

    .header__button {
        height: 50px;
        width: 150px;
        border-radius: 25px;
    }

    .box__container {
        height: auto;
    }

    .container__boxes {
        flex-direction: column;
        height: auto;
        row-gap: 20px;
    }

    .box__item {
        width: 200px;
        height: 200px;
    }

    .box__description:nth-last-child(1) {
        padding-bottom: 20px;
    }

    .photo__item {
        height: 100px;
        padding: 100px;
    }

    .gallery__container {
        flex-direction: column;
        height: auto;
    }

    .widgets__container {
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        row-gap: 15px;
    }

    .widget__menu__button {
        width: 80px;
        border-radius: 5px;
    }

    .about-us__container {
        flex-direction: column;
        height: auto;
    }

    .about-us__button1, .about-us__button2 {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 340px) {
    .categories__items__wrapper {
        column-gap: 7px;
    }

    .logo-icon {
        width: 80px;
        height: 50px;
        border-radius: 10px;
    }
}

@media screen and (min-width: 576px) and (max-width: 747px) {

    .widget__nav {
        height: 30px;
    }

    .article__description {
        height: 90px;
        line-height: 15px;
    }

    .widget__menu__wrapper {
        font-size: small;
    }

    .widget__bottom__menu {
        height: auto;
    }
}

@media screen and (max-width: 910px) {
    .widgets__container {
        height: auto;
        row-gap: 20px;
    }
}