/* Basic parameters */
.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.mn5 {
    margin: 5px;
}

.fx-basis100 {
    flex-basis: 100%;
}

.font1n5 {
    font-size: 1.5rem;
}

.txt-center {
    text-align: center;
}

.vertical-mid {
    vertical-align: middle;
}


/*                 TASK1                  */
.container {
    font-size: 2rem;
}

.target {
    background-color: #444444;
    color: white;
    border-radius: 10px;
}

.first {
    height: 150px;
    line-height: 150px;
}
.second, .third {
    height: 430px;
    line-height: 430px;
}

.second {
    flex-grow: 4;
}

.third {
    flex-grow: 1;
}

/************************************************/
/*                 TASK2                  */

.posts-container {
    flex-direction: column;
    flex-grow: 5;
}

.bg-teal {
    background-color: teal;
}

.h8-100 {
    height: 100px;
}

.line-100 {
    line-height: 100px;
}

.menu {
    flex-grow: 1;
    background-color: cornflowerblue;
    height: 250px;
    line-height: 250px;
}

.post {
    background-color: aquamarine;
    height: 120px;
    line-height: 120px;
}

/************************************************/
/*                 TASK3                  */

.container3 {
    gap: 15px;
}

.bg-skyblue {
    background-color: skyblue;
}

.h8-200 {
    height: 200px;
}

.line-200 {
    line-height: 200px;
}

.contact {
    height: 300px;
    line-height: 300px;
}

.object {
    font-size: 1.2rem;
    background-color: #3d3d8d;
    flex-grow: 1;
}

/************************************************/
/*                 TASK4                  */

.container4 {
    gap: 1px;
    color: white;
}

.h8-80 {
    height: 80px;
}

.line-80 {
    line-height: 80px;
}

.h8-400 {
    height: 400px;
}

.line-400 {
    line-height: 400px;
}

.main-content {
    flex-grow: 4;
}

.aside {
    flex-grow: 1;
}

.heading {
    background-color: #0c65a6;
}

.nav {
    background-color: #274d72;
}

.main-content {
    background-color: #3d8ad5;
}

.aside {
    background-color: mediumpurple;
}

.footer2 {
    background-color: #6aade0;
}

