* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border {
    border: 5px solid black;
}

.bg-grey {
    background-color: #999999;
}

.flex {
    display: flex;
}

.fl-grow {
    flex-grow: 1;
}

.full-width {
    flex-basis: 100%;
}

.aln-center {
    align-items: center;
}

.h8-30px {
    height: 30px;
}

.container {
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1200px;
}

.nav_bar {
    height: 60px;
    margin: 5px;
    padding: 0 10px;
    justify-content: space-between;
}

.nav_bar > div {
    flex-basis: 15%;
}

.aside_container {
    width: 200px;
    margin: 5px 0 5px 5px;
}

.aside {
    flex-direction: column;
}

.aside > div {
    margin-top: 20px;
    padding: 15px 60px;
}

.main_content__container {
    flex-wrap: wrap;
    margin: 5px;
}

.header {
    height: 300px;
    justify-content: center;
}

.header > div {
    flex-basis: 95%;
    height: 250px;
}

.sub_header {
    margin-top: 5px;
    height: 150px;
    justify-content: space-evenly;
}

.sub_header > div {
    flex-basis: 20%;
    height: 100px;
}

.gallery_posts__wrapper {
    margin-top: 5px;
    height: 600px;
}

.gallery {
    margin-right: 5px;
    flex-wrap: wrap;
    flex-grow: 4;
}

.gallery__first-block {
    margin: 0 40px;
}

.gallery__second-block{
    margin: 0 40px;
}

.gallery__first-block > div {
    height: 70px;
}

.gallery__second-block > div {
    height: 70px;
}

.gallery__first-block > div {
    margin-top: 15px;
}

.gallery__second-block > div {
    margin-top: 15px;
}

.gallery-button {
    justify-content: center;
}

.gallery-button > div {
    flex-basis: 15%;
    height: 20px;
}

.aside_posts {
    flex-direction: column;
}

.aside_posts > div {
    margin-top: 15px;
    padding: 15px 60px;
}

.footer {
    flex-direction: column;
    height: 150px;
    margin-top: 5px;
    justify-content: center;
}

.lower-footer {
    margin-top: 15px;
}

.upper-footer > div {
    width: 500px;
}

.lower-footer > div {
    width: 100px;
}